<a href="https://colab.research.google.com/github/heeya9090/python/blob/main/Week5_Q1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **스스로 문제 해결**

# Q1. 학번과 이름 출력
본인의 학번과 이름을 입력 받아, 콤마(,)를 이용하여 출력해보세요.

[실행 결과]<br>
학번 입력 : 202300000 [Enter]<br>
이름 입력 : 파이썬 [Enter]<br>
학번은 202300000 이고, 이름은 파이썬 입니다.

In [ ]:
# 학번, 이름
# 데이터 수집




# 출력

# Q2. 삼각형의 넓이
밑변과 높이를 입력 받아 삼각형의 넓이를 계산한 후, 형식문자(% 형식지정자)를 이용하여 출력해보세요.

[실행 결과]<br>
밑변의 길이 : 3.5 [Enter]<br>
높이의 길이 : 9.7 [Enter]<br>
밑변 3.50, 높이 9.70 인 삼각형의 넓이는 16.97 입니다.

In [ ]:
# 데이터 수집




# 처리(계산)



# 출력

# Q3. 수온 계산기
해수면에서 10m 내려갈 때마다 수온이 0.7도씩 내려간다고 가정할 때, 수심을 입력하면 수온을 계산하는 프로그램을 만들어보세요<br>
 - 단, 해수면의 온도는 20도
 -  형식문자(% 형식지정자)를 이용하여 출력

[실행 결과]<br>
수심을 입력하세요. 35[Enter]<br>
수온 : 17.9

In [ ]:
# 데이터 수집



# 처리(계산)



# 출력

# Q4. 사각형의 넓이
가로와 세로 길이를 입력 받아 사각형의 넓이를 계산한 후, f-string을 이용하여 출력해보세요.<br>

[실행 결과]<br>
가로 길이 입력 : 10 [Enter]<br>
세로 길이 입력 : 20 [Enter]<br>
가로: 10cm, 세로: 20cm, 넓이 : 200cm²

※ " ㎠ " 입력 : 한글 "ㄹ" 입력한 후 한자키

In [ ]:
# 데이터 수집



# 처리(계산)



# 출력

# Q5. 시,분, 초 계산
시간의 초를 입력 받아 분과 초를 계산한 후, f-string을 이용하여 출력해보세요.<br>

[실행 결과]<br>
초 입력 : 3700 [Enter]<br>
3700 초 : 1시간 1 분 40초

In [ ]:
# 데이터 수집



# 처리(계산)



# 출력